aiodns==2.0.0
aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.8.0
boto3==1.9.192
botocore==1.12.192
cchardet==2.1.4
cffi==1.12.3
chardet==3.0.4
docutils==0.14
elasticsearch==7.0.2
idna==2.8
jmespath==0.9.4
multidict==4.5.2
numpy==1.16.4
pandas==0.25.0
pycares==3.0.0
pycparser==2.19
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.2
twint==1.2.0.0
urllib3==1.25.8
yarl==1.3.0
